<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sideproject.manlihyang">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".side.contents.application.ManLiHyangApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".side.contents.view.main.mypage.PersonalConnectionActivity"></activity>
        <activity android:name=".side.contents.view.main.mypage.EditMypageActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service android:name=".side.contents.service.ManLiHyangMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".side.contents.view.onboarding.PolicyPopupActivity"
            android:theme="@style/PopupTheme" />
        <activity android:name=".side.contents.view.main.mypage.DetailedBoardActivity" />
        <activity android:name=".side.contents.view.onboarding.RegisterEmailActivity" />
        <activity
            android:name=".side.contents.view.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateAlwaysHidden|adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".side.contents.view.onboarding.LoginActivity" />
        <activity
            android:name=".side.contents.view.main.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
    </application>

</manifest>